################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BerlinClock/v15/Server/sqlite3/db.lock
/.vs/BerlinClock/v15/Server/sqlite3/storage.ide
/.vs/BerlinClock/v15/Server/sqlite3
/bin/Debug
/.vs/BerlinClock/v15/.suo
/obj/Debug
/packages/SpecFlow.1.9.0
/packages
/BerlinClockTest/bin/Debug
/BerlinClockTest/obj/Debug
